footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #bb2649;   
}

footer div h3 {
    font-size: 27px;
    position: relative;
    text-decoration: underline;
}

footer div p {
    color: black;
}

footer div a {
    text-decoration: none;
}

