
body{
    display: flex;
    flex-direction:  column;
}
.contenus{
    display: flex;
    justify-content: space-around;
}



.shop{
    margin-left:5% ;
    display: grid;
    grid-template-columns:repeat(4, 300px);
    grid-template-rows: 500px; 
    justify-content:center;
    align-items: end;
    
}


.article1,
.article2,
.article3,
.article4,
.article5,
.article6{
    background-color: #f87191;
    border: solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 10px 5px 5px red;    
}
.image{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 70%;
    width: 70%;
    display: flex;
    justify-content:space-around;
}


.shop h3 {
    margin: 0%;
}

.shop h4 {
    margin: 0%;
}

.filtre {
    float:left;
    height: 45%;
    width: 10%;
}

.entonnoir {
    width: 10px;
}

.filtre p{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

